In [20]:
# Import necessary modules and libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score, mean_squared_error
from math import sqrt
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

%matplotlib inline

In [21]:
# 1. Load Data

# Read the “housing.csv” file from the folder into the program.
data = pd.read_csv('data/housing.csv')

# Print first few rows of this data.
data.head()

#Extract input (X) and output (Y) data from the dataset.
x = data.median_income
y = data.median_house_value

In [22]:
# 2. Handle missing values
#Fill the missing values with the mean of the respective column.
data.isnull().sum()
data["total_bedrooms"] = data["total_bedrooms"].fillna(data["total_bedrooms"].mean())
data.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
ocean_proximity       0
median_house_value    0
dtype: int64

In [23]:
# 3. Encode categorical data
# Convert categorical column in the dataset to numerical data.

le = LabelEncoder()
data["ocean_proximity"] = le.fit_transform(data["ocean_proximity"])
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,3,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,3,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,3,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,3,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,3,342200

In [24]:
# 4. Split the dataset
# Split the data into 80% training dataset and 20% test dataset.

train_data, test_data = train_test_split(data, test_size=0.20)

In [25]:
# 5. Standardize training and test datasets.

mean = np.mean(train_data, axis=0)
std = np.std(train_data, axis=0)

train_data_std = (train_data - mean)/std
test_data_std = (test_data - mean)/std

In [39]:
# 6. Perform Linear Regression
# Perform Linear Regression on training data.
lm = LinearRegression()
x = train_data_std['total_rooms'].to_numpy().reshape(-1,1)
y = train_data_std.median_house_value
x_test = test_data_std['total_rooms'].to_numpy().reshape(-1,1)
y_test = test_data_std.median_house_value
lm.fit(x,y)
# print(lm.intercept_)
# print(lm.coef_)

pred = lm.predict(x_test)

# Print root mean squared error (RMSE) from Linear Regression.
rmse = sqrt(mean_squared_error(y_test, pred))
print(rmse)


# train_data_std.shape
# fig,axs = plt.subplots(1,3,sharey=True)
# train_data.plot(kind='scatter', x='median_income', y='median_house_value', ax=axs[0], figsize=(16,8))

0.997252427947077