In [13]:
# Import necessary modules and libraries
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score, mean_squared_error
from math import sqrt
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression

%matplotlib inline

In [ ]:
# 1. Load Data

# Read the “housing.csv” file from the folder into the program.
data = pd.read_csv('data/housing.csv')

# Print first few rows of this data.
data.head()

#Extract input (X) and output (Y) data from the dataset.
x = data.median_income
y = data.median_house_value

In [ ]:
# 2. Handle missing values
#Fill the missing values with the mean of the respective column.
data.isnull().sum()
data["total_bedrooms"] = data["total_bedrooms"].fillna(data["total_bedrooms"].mean())
data.isnull().sum()

In [16]:
# 3. Encode categorical data
# Convert categorical column in the dataset to numerical data.

le = LabelEncoder()
data["ocean_proximity"] = le.fit_transform(data["ocean_proximity"])
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,3,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,3,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,3,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,3,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,3,342200